[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

json-rpc = "*"
werkzeug = "*"
meinheld = "*"
u-msgpack-python = "*"
jsonrpc-requests = "*"


[dev-packages]

ipython = "*"
ipdb = "*"


[requires]

python_version = "3.6"
